.agency {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    &__content {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 80%;
        margin-bottom: 3.5rem;

        h2 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1.3rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 1.2rem;
        }
    }
}